@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;500&family=Kdam+Thmor+Pro&family=Montserrat:wght@700&family=Poppins:wght@600&family=Red+Hat+Display:wght@600&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,400&display=swap");
.contact-main {
    min-height: 100vh;
    width: 100%;
    background-color: #2a2a2a;
    padding: 2rem;
}

.contact-container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.contact-title {
    padding: 1rem;
}

.contact-title h4 {
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
    display: inline-block;
    padding: 0 0.7rem;
    border-radius: 8px;
}

.contact-title h4 {
    color: #cacaca;
    font-family: "Montserrat";
}

.contact-description {
    color: #eee;
    font-family: var(--kdam-font-family);
    padding: 1rem 0;
}

.form-container input {
    max-width: 80vw;
    background: #706e6e;
    color: #eee;
    font-family: var(--kdam-font-family);
}

.form-container input:-webkit-autofill,
.form-container input:-webkit-autofill:focus{
    background: #706e6e !important;
    color: #eee !important;
}

.form-container input:focus {
    background: #706e6e;
    color: #eee;
    font-family: var(--kdam-font-family);
    border: solid 1px rgba(98, 255, 1, 0.837);
}

.form-container input::placeholder {
    font-family: var(--kdam-font-family);
    color: #eee;
}

.btn-primary {
    background: rgb(0, 121, 107);
    border-color: rgba(0, 121, 107, 0.3);
    margin: 1rem 0;
}

.btn-primary:hover {
    background: rgb(0, 92, 81);
    border-color: rgba(0, 119, 105, 0.3);
}

.social-media-container {
    margin-top: 2rem;
}

.social-media-description {
    padding: 1rem 0;
}

.social-media-title {
    color: #eee;
    font-family: var(--kdam-font-family);
}

.social-media-text {
    color: #eee;
    font-family: var(--kdam-font-family);
}

.social-media-btn-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-media-btn-container a {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; /* Para alinear los elementos verticalmente */
    text-decoration: none;
    width: 31%;
    max-width: 14rem;
}

.icon-text {
    font-size: 0.77rem;
    color: #fff;
}

/*facebook button*/

.facebook-btn {
    position: relative;
    background: rgb(72, 104, 173);
    border-bottom: solid 5px rgb(47, 67, 112);
    border-radius: 5px;
    transition: all 0.22s ease-in-out;
}

.facebook-btn::after {
    position: absolute;
    bottom: -8px;
    content: "";
    display: block;
    border-bottom: solid 4px rgb(18, 26, 43);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.social-media-btn-container [icon="basil:facebook-solid"] {
    color: #fff;
    font-size: 1.7rem;
}

.facebook-btn:hover {
    background: rgb(65, 94, 156);
}

.facebook-btn:hover::after {
    border-bottom: solid 4px rgb(18, 26, 43);
    bottom: -8px;
}
.facebook-btn:hover {
    border-bottom: solid 3.5px rgb(47, 67, 112);
}

.facebook-btn:hover {
    transform: translateY(3%);
}

/*Linkedin button*/

.linkedin-btn {
    position: relative;
    background: #0a66c2;
    border-bottom: solid 4px rgb(8, 72, 137);
    border-radius: 5px;
    transition: all 0.22s ease-in-out;
}

.linkedin-btn::after {
    position: absolute;
    bottom: -8px;
    content: "";
    display: block;
    border-bottom: solid 4px rgb(2, 15, 28);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.social-media-btn-container [icon="akar-icons:linkedin-fill"] {
    color: #fff;
    font-size: 1.7rem;
}
/*****Btn hover****/
.linkedin-btn:hover {
    background: rgb(11, 88, 166);
}

.linkedin-btn:hover::after {
    border-bottom: solid 4px rgb(2, 15, 28);
    bottom: -8px;
}
.linkedin-btn:hover {
    border-bottom: solid 3.5px rgb(8, 72, 137);
}

.linkedin-btn:hover {
    transform: translateY(3%);
}

/*Github button*/

.github-btn {
    position: relative;
    background: #575757;
    border-bottom: solid 4px rgb(50, 50, 50);
    border-radius: 5px;
    transition: all 0.22s ease-in-out;
}

.github-btn::after {
    position: absolute;
    bottom: -8px;
    content: "";
    display: block;
    border-bottom: solid 4px rgb(29, 29, 29);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    transition: all 0.1s ease-in-out;
}

.social-media-btn-container [icon="mdi:github"] {
    color: #fff;
    font-size: 1.7rem;
}

/*****Btn hover****/
.github-btn:hover {
    background: rgb(85, 85, 85);
}

.github-btn:hover::after {
    border-bottom: solid 4px rgb(29, 29, 29);
    bottom: -8px;
}
.github-btn:hover {
    border-bottom: solid 3.5px rgb(50, 50, 50);
}

.github-btn:hover {
    transform: translateY(3%);
}

@media (min-width: 1024px) {
    .social-media-btn-container a {
        height: 3rem;
    }

    .icon-text {
        font-size: 0.9rem;
    }

    .form-container input {
        max-width: 30rem;
    }
}
